
.DS_Store

myClima/myClima.xcodeproj/project.xcworkspace/xcuserdata/samueljeong.xcuserdatad/UserInterfaceState.xcuserstate

Bitcoin/Bitcoin.xcodeproj/project.xcworkspace/xcuserdata/samueljeong.xcuserdatad/UserInterfaceState.xcuserstate
